:root {
    --red: #ff0000;
    --primary: var(--red);

    /* Uncomment the below property to see -  */
    /* --bs-primary-rgb: var(--primary); */

}

/* Testing modifying the class the old fashion way - does not work, not adjusting the background color. *I think* (<em> on 'think') it might have to do with the !important in the source CSS  */
.bg-primary {
    background-color: purple;
}

body {
    background-image: url("images/IMG_1212.png");
    background-attachment: fixed;
    box-sizing: border-box;
}

.wrapper {
    margin: auto;
    width: 90%;
    height: 90%;
    background-color: white;
}


.dis {
    display:grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    margin: 10px;
}

.browser {
    padding: 10px;
    /* margin:10px; */
    border: 3px solid purple;
}

.browser::before {
    box-sizing: border-box;
    font-size:14pt;
    color:white;
    border: 3px solid purple;
    display: inline-block;
    content:"\2013   \2610   \2613";
    align-self:flex-end;
    text-align:right;
    background-color: purple;
    width:calc((90% - 31px) /2);
    margin:auto;
    position: absolute;
    transform: translate(-13px, -30px);
}

#masonry {
    display:grid;
    gap: 10px;
    grid-template-areas:  'rantly rantly autumns autumns'
                          'rylan rylan autumns autumns'
                          'rylan rylan autumns autumns'
                          'rylan rylan board board';
    
    margin: 10px;
}

div#masonry > .brick:nth-child(1) {
    grid-area:rantly;
    justify-self: right;
}
div#masonry > .brick:nth-child(2) {
    grid-area:autumns;
}
div#masonry > .brick:nth-child(3) {
    grid-area:rylan;
    justify-self: right;
}
div#masonry > .brick:nth-child(4) {
    grid-area:board;
}
